@font-face {
    font-family: ralewayLight;
    src: url(~@/assets/fonts/Raleway-ExtraLight.ttf);
}
@font-face {
    font-family: ralewayRegular;
    src: url(~@/assets/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: ralewayBold;
    src: url(~@/assets/fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: openSansRegular;
    src: url(~@/assets/fonts/OpenSans-Regular.ttf);
}